body{
	margin: 0;
	padding: 0;
	font-family: PlayfairDisplay-Regular ;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
@font-face {
	font-family: PlayfairDisplay-Regular ;
	src: url(../fonts/playfair-display/PlayfairDisplay-Regular.otf);
}
@font-face {
	font-family: PlayfairDisplay-Bold ;
	src: url(../fonts/playfair-display/PlayfairDisplay-Bold.otf);
}
@font-face {
	font-family:Ubuntu-L ;
	src: url(../fonts/ubuntu/Ubuntu-L.ttf);
}
			/*header section start*/
header{
	  padding: 50px 0;
	  position: static;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.header_box{
	overflow: hidden;
}
.logo_box{
    width: 12%;
    float: left;
    margin-top: 10px;
}	
.logo_box img{
	width: 100%;
}
.menu {
	width: 60%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	
}
.menu ul li a{
	margin-right: 110px;
	padding: 3px 0;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: #626262;	
}
.menu ul li a:hover{
     border-bottom: 1px solid #626262;
 }
.menu ul li:last-child a{
	margin-right: 0;
}
			/*header section end*/

			/*banner section start*/
.banner{}
.banner_img{

}			
.banner_img img{
	width: 100%;
}			
			/*banner section end*/

			/* gatway section start */
.gatway{
	padding: 50px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;
}
.g_contain {}
.c_light{
	margin: 0;
	font-family:Ubuntu-L ;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_title{
	font-size: 30px;
    font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 25px;
}
.m_tb_20_30{
	margin-top: 20px;
	margin-bottom: 30px;
}
.m_b_45{
	margin-bottom: 45px;
}
			/* gatway section end */

			/* blog section start */
.blog{
	padding: 70px 0 20px;
}	
.blog_contain{
	overflow: hidden;
}	
.single_box{
	width: 47%;
	margin-bottom: 55px;
	float: left;
}
.single_box:nth-child(even){
	margin-left: 6%;
}	
.s_img{
	margin-bottom: 25px;
}
.s_img img{
	width: 100%;
}
.m_tb_25_35{
	margin: 25px 0 35px;
}

			/* blog section end */

			/* news section start */
.news{
	margin-bottom: 75px;
	background-color: #f0f0f0;
}
.news_box{
	width: 40%;
	margin: 0 auto;
}
.n_contain{
	text-align: center;
}
.n_contain h1{
    text-align: center;
    padding: 70px 0 70px;
    font-size: 30px;
    margin: 0;
    color: #333333;
}
.s_form {
	position: relative;
	padding-bottom: 75px;
	
}
.s_form input{
	width: 360px;
    height: 45px;
    padding: 8px 70px 0px 3px;
    border: none;
    border-bottom: 1px solid;
    font-size: 16px;
    background-color: transparent;
    margin-left: 55px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	border: none;
	background-color: transparent;
	top: 20px;
    right: 50px;
}
			/* news section end */

			/* blog2 section start */
.blog_button{
	text-align: center;
	margin: 100px 0 130px;
}
.blog_button button{
 	width: 160px;
 	height: 60px;
 	border: 1px solid #626262;
 	background-color: transparent;
 	font-family: PlayfairDisplay-Regular ;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
} 
			/* blog2 section end*/
			/* footer section start */
footer{
	padding: 40px 0 40px;
	background-color: #f0f0f0;
}
.f_text_box{
	overflow: hidden;
}
.trmas{
	float: left;
}
.social{
	float: right;
}
.f_text_box ul{}
.f_text_box ul li{
	float: left;
	list-style: none;
}
.f_text_box ul li a{
	text-decoration: none;
    margin-right: 20px;
    color: #000000;
}
			/* footer section end */